<!DOCTYPE html>
<html>
<head>
  <title>TextingApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <%= link_to "TEXTING_APP", root_url, :class => "navbar-text navbar-left" %>
        <%= link_to "New Message", new_message_path, :class => "navbar-text navbar-left" %>
      </div>
    </div>

<div class="container">
  <%= flash[:notice] %>
  <%= flash[:alert] %>
  <%= yield %>
</div>

</body>
</html>
